.footer {
    position: fixed;
    width: 100%;
    background-image: url(https://res.cloudinary.com/dmbeu9ipe/image/upload/v1701928994/do9lsndfpbciam4bjnra.jpg);
    min-height: 30px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
    color: white;
  }